@import "../vars";

.icon-effects {
  &__point,
  &__dice-one,
  &__dice-two,
  &__dice-three,
  &__dice-four,
  &__dice-five,
  &__dice-six,
  &__scatter,
  &__rain,
  &__wheel,
  &__bounce,
  &__banner,
  &__straight-up,
  &__list,
  &__table {
    :hover {
      color: map-get($colors, offwhite);
      
    }
  }
  &__heart {
    &:hover {
      color: map-get($colors, lightpink);
    }
  }
  &__lock,
  &__unlock {
    &:hover {
      color: map-get($colors, lightergray);
    }
  }
  &__pencil {
    :hover {
      color: map-get($colors, gold);
    }
  }
  &__trash {
    :hover {
      color: map-get($colors, red);
    }
  }
  &__highlight {
    color: gold;
  }
}

[class*="icon-effects"] {
  outline: none;
  &:active {
    transform: scale(0.75);
  }
}
