@import "../../../styles/vars";

.list-form-container {
  max-width:  1680px;
  margin-top: 8rem;
  .form-container {
    margin: 0 auto;
    width: fit-content;
  }
}
.list-form-heading {
  color: map-get($colors, white);
  font-size: map-get($font-size, medium);
  position: absolute;
  top: -3.5rem;
  left: 0;
}
.form-container {
  label {
    color: map-get($colors, white);
  }
  button.next-step-button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
