@import "../../../styles/_vars.scss";

.dashboard-header-container {
  align-items: flex-end;
  color: map-get($colors, white);
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.4rem 2rem;
  .dashboard-header-container-lists-new {
    background-color: map-get($colors, blackfaded);
    border: 2px solid map-get($colors, black);
    border-radius: 4px;
    display: flex;
    gap: 0.4rem;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
  }
  .dashboard-header-icon-wrapper {
    text-align: center;
    p {
      font-size: map-get($font-size, xsmall);
      letter-spacing: 1px;
      margin-bottom: 0.8rem;
    }
    .dashboard-header-icon-container {
      align-items: center;
      background-color: map-get($colors, blackfaded);
      border: 2px solid map-get($colors, black);
      border-radius: 4px;
      display: flex;
      gap: 1rem;
      padding: 0.25rem 0.5rem;
      .dashboard-header-icon {
        height: 18px;
        width: 18px;
        cursor: pointer;
      }
    }
  }
}

.lists-card-view {
  display: flex;
  gap: 2rem;
  color: map-get($colors, white);
  .lists-card {
    width: 250px;
    height: 280px;
    border: 2px solid map-get($colors, black);
    border-radius: 4px;
    .lists-card-name {
      background-color: map-get($colors, black);
      margin-bottom: 0.2rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      font-size: map-get($font-size, large);
      padding: 0.5rem;
      box-shadow: 0px 1px rgba(255,255,255, 0.4),
        0px 3px rgba(255,255,255, 0.2),
        0px 5px rgba(37, 17, 17, 0.1);
      text-align: center;
    }
    .lists-card-body {
      display: flex;
      max-height: calc(100% - 3.25rem);
      color: map-get($colors, offwhite);
      .lists-card-container {
        background-color: map-get($colors, darkbluegray);
        flex-grow: 1;
        padding-left: 1rem;
        padding-top: 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          background: none;
          width: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 4px;
        }
        .list-container {
          display: flex;
          gap: 8px;
          white-space: nowrap;
          font-size: map-get($font-size, small);
        }
      }
    }
    .lists-card-view-actions {
      width: 48px;
      background-color: map-get($colors, blackfaded);
      color: map-get($colors, white );
      border-left: 1px solid map-get($colors, offwhite );
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .lists-card-view-action {
        cursor: pointer;
      }
    } 
  }
}

.lists-table-view {
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 4px;
  border-style: groove;
  border-width: 2px;
  border-color: map-get($colors, darkbluegray );
  background-color: map-get($colors, darkbluegray );
  color: map-get($colors, white );
  max-width: 1220;
  .lists-table-none {
    margin: 2rem auto;
    width: 100%;
    text-align: center;
  }
  .lists-table-header {
    border-bottom: 2px groove map-get($colors, offwhite );
    font-size: map-get($font-size, small);
  }
  .lists-table-row {
    display: flex;
    padding: 0 1rem;
    & > div {
      width: 70%;
      margin: 1rem 0rem;
    }
    & > div:last-child {
      width: 100%;
      max-width: 350px;
    }
  }
  .lists-table-body {
    max-height: 500px;
    margin-top: 1rem;
    & > div:nth-child(even) {
      background-color: map-get($colors, darkgray );
    }
    &::-webkit-scrollbar {
      background: none;
      width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 4px;
    }
    .lists-table-actions {
      display: flex;
      justify-content: space-between;
      min-width: 200px;
      & > svg {
        cursor: pointer;
      }
    }
  }
  
}