@import '../../../styles/vars';

@keyframes rain {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(100%);
  }
}

.rain-container {
  position: relative;
  height: calc(100vh - 20rem);
  width: calc(100vw - 2rem);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  & > div {
    position: absolute;
    z-index: 4;
  }
  div.rain-text {
    color: map-get($colors, white );
  }
}