@import '../../../../styles/vars';
.review-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: map-get($colors, white );
  width: 420px;
  .review-list-heading {
    border-bottom: 1px solid;
    width: fit-content;
  }
  .review-list-value {
    padding-left: 1rem;
  }
  .review-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid map-get($colors, offwhite );

    & span { 
      white-space: nowrap;
      width: 100px;
      flex-grow: 1;
    }
  }
}