/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './pages/pickers/wheel.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  max-height: 100%;
  width: fit-content;
  min-width: 100%;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  background: radial-gradient(circle, rgba(22,167,162,1) 0%, rgba(25,61,73,1) 100%);
}

.background-main {
  background: radial-gradient(circle, rgba(22,167,162,1) 0%, rgba(25,61,73,1) 100%);
}

.inset-shadow {
  -webkit-box-shadow: inset 0px 0px 16px 4px #000000; 
  box-shadow: inset 0px 0px 16px 4px #000000; 
}

.inset-shadow-bottom {
  -webkit-box-shadow: inset 0px -6px 10px 0px #000000; 
  box-shadow: inset 0px -6px 10px 0px #000000;
}

.shadow-card {
  -webkit-box-shadow: 5px 5px 4px 0px #000000; 
  box-shadow: 5px 5px 4px 0px #000000;
}

.remove-scroll-background::-webkit-scrollbar {
  background: none;
  width: 10px;
}

.remove-scroll-background::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

/* .remove-scroll-background::-webkit-scrollbar-track {

} */

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}



input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.custom-table tbody tr td{
  border-bottom: 2px solid #D5A8FC;
}


.bg-button {
  background: radial-gradient(circle, rgba(22,167,162,1) 0%, rgba(25,61,73,1) 100%);
}
@keyframes fa-blink {
  0% { opacity: 1; }
  13% { opacity: 0.75;}
  26% { opacity: 0.5; }
  39% { opacity: 0.25;}
  52% { opacity: 0; }
  65% { opacity: 0.25;}
  78% { opacity: 0.5; }
  91% { opacity: 0.75;}
  100% { opacity: 1; }
}

.fa-blink :nth-child(1) {
  -webkit-animation: fa-blink .90s linear infinite;
  -moz-animation: fa-blink .90s linear infinite;
  -ms-animation: fa-blink .90s linear infinite;
  -o-animation: fa-blink .90s linear infinite;
  animation: fa-blink 1s linear infinite;
}
.fa-blink :nth-child(2) {
  -webkit-animation: fa-blink .90s linear infinite;
  -moz-animation: fa-blink .90s linear infinite;
  -ms-animation: fa-blink .90s linear infinite;
  -o-animation: fa-blink .90s linear infinite;
  animation: fa-blink .75s linear infinite;
}
.fa-blink :nth-child(3) {
  -webkit-animation: fa-blink .90s linear infinite;
  -moz-animation: fa-blink .90s linear infinite;
  -ms-animation: fa-blink .90s linear infinite;
  -o-animation: fa-blink .90s linear infinite;
  animation: fa-blink 1.25s linear infinite;
}
